# Premice pratical work exe and compiled files
/premice/lex.yy.c
/premice/etatsLexBis
/premice/etatsLex

# Counter pratical work exe and compiled files
/counter/lex.yy.c
/counter/counter
/counter/example

# Yacc practical work exe and compiled files
/yacc/y.tab.c
/yacc/y.tab.h
/yacc/expr.tab.c
/yacc/expr.tab.h
/yacc/lex.yy.c
/yacc/expr

# hoc (High Order Calculator)
/hoc/lex.yy.c
/hoc/hoc.tab.c
/hoc/hoc.tab.h
/hoc/hoc

# Mac
.DS_Store

# Archives
*.zip
